{% extends 'base.html.twig' %}

{% block title %}Cale du navire{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<main class="dev">
    <div class="enCours">
        <img src="/public/assets/media/img/Ne3ko_favicon.png" alt="">

        <h1>Le bateau est en plein nettoyage, on bloque cet accès pour le moment</h1>
    </div>
</main>

{% include "footer.html.twig" %}

{% endblock %}
