{% extends 'base.html.twig' %}

{% block title %}Cale du navire{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<main class="dev">

</main>

{% include "footer.html.twig" %}

{% endblock %}
