main{
    color: #DCB253;
    background:#37806C;
    background: linear-gradient(360deg,#214539,#37806C);
    margin: auto;
    padding: auto;
}
.enCours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assuming you want the div to take the full viewport height */
}

.enCours img {
    max-width: 100%;
}

.enCours h1 {
    text-align: center;
}
