<footer>
    {# Réseaux #}
    <nav class="reseau">
        <h5>Pour en savoir plus, mes réseaux sont juste ici !</h5>
        <ul id="reseaux">
            <li>
                <a href="https://www.linkedin.com/in/julien-flament-a442b197/" target="_blank">
                    <img src="../public/assets/media/img/LinkedIn.png" alt="LinkedIn">
                </a>
            </li>
            <li>
                <a href="https://github.com/Ne3koo/" target="_blank">
                    <img src="../public/assets/media/img/Github.png" alt="Github">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/julien.flament.395/" target="_blank">
                    <img src="../public/assets/media/img/Facebook.png" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/julienflmt/" target="_blank">
                    <img src="../public/assets/media/img/Instagram.png" alt="Instagram">
                </a>
            </li>
            <div class="contain">
                <a href="#" class="aCard">
                    <div class="card" id="contact">
                        <b></b>
                        <div class="content">
                            {# Me contacter #}
                            <button>Contactez-moi</button>
                        </div>
                    </div>
                </a>
            </div>
        </ul>    
    </nav>
</footer>